<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SymfoCAS</title>
</head>
<body>
<h1>SymfoCAS</h1>
<h2>Bienvenido a la intranet de SymfoCAS</h2>
<p>Si has llegado aquí la cosa tiene mérito</p>
</body>
</html>